@font-face {
  font-family: "montserrat";
  src: url("~@/assets/fonts/montserrat.ttf") format("truetype");
}
@font-face {
  font-family: "montserratsemibold";
  src: url("~@/assets/fonts/montserrat-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "montserratblack";
  src: url("~@/assets/fonts/montserratblack.ttf") format("truetype");
}
@font-face {
  font-family: "montserratlight";
  src: url("~@/assets/fonts/montserratlight.ttf") format("truetype");
}
@font-face {
  font-family: "montserratbold";
  src: url("~@/assets/fonts/montserratbold.ttf") format("truetype");
}
@font-face {
  font-family: "robotolight";
  src: url("~@/assets/fonts/robotolight.ttf") format("truetype");
}
